:root {
  --gutter: max(1rem, 3.5vw);
  --content-width: 70ch;
  --font-small: max(15px, 0.85rem);
  --font-x-small: max(12px, 0.75rem);
  --br-small: max(3px, 0.25rem);
  --color-border: #cdd6e9;
  --color-border-hover: hsl(244deg 83% 51% / 80%);
  --color-surface: #f9fafb;
  --color-element: #181b20;
  --color-inline-code: #181b20;
  --color-code: var(--color-border);
  --color-surface-1: hsl(220deg 13% 91%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-border: #272c34;
    --color-border-hover: hsl(244deg 83% 51% / 80%);
    --color-element: #f9fafb;
    --color-surface: #181b20;
    --color-inline-code: #f9fafb;
    --color-code: #212e4a;
    --color-surface-1: #192339;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  line-height: 1.5;
  color: var(--color-element);
  background-color: var(--color-surface);
}

a {
  color: inherit;
}

code,
pre {
  font-family: "Fira Code", monospace;
  font-size: var(--font-small);
}

:not(pre, td) > code {
  padding: 0.15rem 0.25rem;
  color: var(--color-inline-code);
  background-color: var(--color-code);
  border-radius: var(--br-small);
}

.container {
  display: grid;
  grid-template-columns:
    [gutter-start] var(--gutter) [content-wide-start] 1fr [content-start]
    minmax(auto, var(--content-width))
    [content-end] 1fr [content-wide-end] var(--gutter) [gutter-end];
  margin-block-end: 3rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.container > .navigation {
  grid-column: content-wide;
}

header {
  justify-self: center;
  max-width: 70ch;
  text-align: center;
}

.container > header {
  grid-column: content;
}

.container:has(.navigation) {
  border-bottom: 1px solid var(--color-border);
}

.navigation a {
  font-size: var(--font-small);
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

.navigation a span {
  font-weight: 400;
}

header share-button {
  display: inline-block;
  margin-block-end: 0.5rem;
}

header h1 {
  margin-block-end: 0.75rem;
  line-height: 1.2;
  text-wrap: balance;
}

header > p {
  margin-block-end: 1.5rem;
  font-size: var(--font-small);
}

.meta {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: var(--font-x-small);
}

.meta a {
  color: inherit;
  text-decoration: none;
}

.meta-button {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-surface-1);
  border-radius: 9999px;
}

.meta-button > svg {
  width: 1.15em;
  height: 1.15em;
  fill: currentcolor;
}

.container > picture {
  grid-column: content;
}

.feature-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  mix-blend-mode: multiply;
}

@media (prefers-color-scheme: dark) {
  .container .feature-image {
    filter: invert(1);
    mix-blend-mode: screen;
  }
}

.container > .content {
  grid-column: content;
}

.content > *:not(:last-child) {
  margin-block-end: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  margin-block: 4rem 0.5rem;
}

h3 {
  margin-block: 2rem 0.5rem;
}

table {
  width: 100%;
  font-size: var(--font-small);
  border-collapse: collapse;
  background-color: var(--color-surface-1);
  border-radius: var(--br-small);
}

table :where(td, th) {
  padding: 0.5rem 0.75rem;
}

table tr {
  border-bottom: 1px solid var(--color-border);
}

table th {
  font-size: var(--font-x-small);
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

table tr:last-of-type {
  border-bottom: none;
}

pre:has(.copy-button) {
  position: relative;
  overflow: hidden;
  border-radius: var(--br-small);
}

pre > code {
  margin-inline-end: 2.75rem;
}

.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  height: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  cursor: pointer;
  background-color: #2e3440;
  border: none;
  transition: background-color 300ms ease-out;
}

.copy-button > svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
}

.copy-button:hover {
  background-color: hsl(220deg 16% 32%);
}

.example:not(:last-child) {
  position: relative;
  display: grid;
  place-items: center;
  padding: 2rem;
  margin-block: 2rem 4rem;
  border: 1px solid var(--color-border);
  border-radius: var(--br-small);
}

.example figcaption:last-child {
  position: absolute;
  bottom: -10px;
  left: 50%;
  font-size: var(--font-x-small);
  text-align: center;
  opacity: 0.75;
  translate: -50% 100%;
}

.example-icons {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}

code::-webkit-scrollbar {
  height: 0.5rem; /* width of the entire scrollbar */
}

code::-webkit-scrollbar-track {
  background-color: #2e3440; /* color of the tracking area */
}

code::-webkit-scrollbar-thumb {
  background-color: #81a1c1; /* color of the scroll thumb */
  transition: background-color 500ms ease-out;
}

code::-webkit-scrollbar-thumb:hover {
  background-color: hsl(210deg 34% 73%);
}
