:host {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.wrapper {
  --color-border: #e5e7eb;
  --color-surface: #f9fafb;
  --color-element: #111827;
  --color-button: #111827;
  --color-button-text: #f9fafb;
  --color-backdrop: hsl(210deg 20% 98% / 50%);
  --color-hover: rgb(255 255 255 / 15%);
  --border-radius-lg: 8px;
  --border-radius-md: 5px;
  --border-radius-sm: 2.5px;
  --padding-button: .375rem .75rem ;
  --padding-box: 1em;
  --gap-sm: 0.5em;
  --gap-md: 0.75em;
  --gap-lg: 2em;
  --gap-icon: 0.5rem;
  --font-sm: max(15px, 0.875em);
  --font-lg: max(18px, 1.05em);
  --box-shadow: 0 0.7px 2.2px hsl(200deg 100% 9% / 2%),
    0 1.6px 5.3px rgb(0 31 46 / 2.8%), 0 3px 10px rgb(0 31 46 / 3.5%),
    0 5.4px 17.9px rgb(0 31 46 / 4.2%), 0 10px 33.4px hsl(200deg 100% 9% / 5.1%),
    0 24px 80px hsl(200deg 100% 9% / 7.1%);
  --filter: drop-shadow(2px 2px 8px rgb(0 0 0 / 15%));
}

button {
  display: inline-block;
  gap: var(--gap-icon);
  align-items: center;
  justify-content: center;
  padding: var(--padding-button);
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-button-text);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: var(--color-button);
  border: none;
  border-radius: var(--border-radius-lg);
  transition: outline 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover {
    outline: 2px solid greenyellow;
  }

  svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-inline-end: .25em;
    vertical-align: -.125em;
    fill: currentcolor;
  }
}



/* Modal */
[popover] {
  position: absolute;
  max-width: min(100% - 16px, 31.25em);
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: var(--color-element);
  background-color: transparent;
  filter: var(--filter);
  border: none;
  translate: -50% 0;

  /* box-shadow: var(--box-shadow); */

  /* opacity: 0; */

  /* transition: opacity 300ms ease-out, overlay 300ms ease-out allow-discrete,
    display 300ms ease-out allow-discrete; */
}

.popover-inner { 
  position: relative;
  display: flex;
  flex-direction: column;

  /* padding: .5rem .25rem; */
  margin-block: .75rem;
  background-color: var(--color-surface);
  border-radius: var(--border-radius-lg);
}

.popover-inner::after {
  position: absolute;
  top: 0;
  left: 50%;
z-index: 100;
  width: 0;
  height: 0;
  content: "";

  /* content: ""; */
  border-right: .75em solid transparent;
  border-bottom: .75em solid var(--color-surface);
  border-left: .75em solid transparent;
  translate: -50% -100%;
}

.above .popover-inner::after {
  top: auto;
  bottom: 0;
  rotate: 180deg;
  translate: -50% 100%;
}

.left-adjust .popover-inner::after {
  left: 1.5em;
}


[popover] header {
  display: flex;
  gap: var(--gap-lg);
  align-items: center;
  justify-content: space-between;
  padding: .75em 1.5em;
  background-color: var(--color-surface);
  border-bottom: 1px solid var(--color-border);
  border-top-left-radius: var(--border-radius-lg);
  border-top-right-radius: var(--border-radius-lg);
}

[popover] header>p {
  margin: 0;
  font-size: var(--font-sm);
}



[popover] img {
  max-width: 100%;
  height: auto;
}

/* 
::backdrop {
  background-color: rgb(0 0 0 / 0%);
  backdrop-filter: blur(2px);
  transition: display 300ms allow-discrete, backdrop-filter 300ms ease-out,
    overlay 300ms allow-discrete, background-color 300ms;
} */


.share-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.social-media {
  display: flex;
  flex: 1;
  gap: var(--gap-md);
  align-items: center;
  justify-content: flex-start;
  min-width: 7rem;
  padding: 1rem;
  font-size: var(--font-sm);
  font-weight: 400;
  line-height: calc(1.2 * var(--font-sm));
  color: inherit;
  text-decoration: none;
  background: none;
  border-radius: var(--border-radius-lg);
}


.social-media:last-child {
  border-bottom-right-radius: var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
}

.social-media svg {
  width: 1.15rem;
  height: 1.15rem;
  fill: currentcolor;
  transition: color 300ms ease-out;
}



.x:hover svg {
  color: #1da1f2;
}

.facebook:hover svg {
  color: #1877f2;
}

.linkedin:hover svg {
  color: #0a66c2;
}

.telegram:hover svg {
  color: #229ED9;
}

.whatsapp:hover svg {
  color: #25D366;
}

:is(.email, .copy-button):hover svg {
  opacity: .8;
}


.copy-button {
  background: none;

  &:hover {
    outline: none;
  }


  &[disabled] {
    font-weight: bold;
    color: green; 

  }
}


@media (width >=48rem) {
  .social-media {
    min-width: 9em;
  }
}
