.wrapper {
  --color-border: #e5e7eb;
  --color-surface: #f9fafb;
  --color-element: hsl(221deg 39% 11%);
  --color-button: var(--color-element);
  --color-button-text: var(--color-surface);
  --color-backdrop: hsl(210deg 20% 98% / 50%);
  --border-radius-lg: 8px;
  --border-radius-md: 5px;
  --border-radius-sm: 2.5px;
  --padding-button: 0.5em 1em;
  --padding-box: 1em;
  --gap-sm: 0.5em;
  --gap-md: 0.75em;
  --gap-lg: 2em;
  --gap-icon: 5px;
  --font-sm: max(15px, 0.85em);
  --font-lg: max(18px, 1.05em);
  --box-shadow: 0 0.7px 2.2px #001f2e05, 0 1.6px 5.3px rgb(0 31 46 / 2.8%),
    0 3px 10px rgb(0 31 46 / 3.5%), 0 5.4px 17.9px rgb(0 31 46 / 4.2%),
    0 10px 33.4px #001f2e0d, 0 24px 80px #001f2e12;

  font-size: 16px;
  font-size: clamp(1em, 0.95em + 0.25vw, 1.25em);
}

button {
  display: inline-flex;
  gap: var(--gap-icon);
  align-items: center;
  justify-content: center;
  padding: var(--padding-button);
  font-family: inherit;
  font-size: var(--font-sm);
  cursor: pointer;
  background: none;
  border: none;
  transition: outline 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button svg {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

/* Share button */
.share-button {
  position: relative;
  color: var(--color-button-text);
  background-color: var(--color-button);
  border-radius: 9999px;
}

.share-button::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgb(255 255 255 / 15%);
  border-radius: 9999px;
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.share-button:hover::before {
  opacity: 1;
}

/* Modal */
dialog {
  max-width: min(100% - 16px, 31.25em);
  padding: 0;
  font-family: inherit;
  color: var(--color-element);
  background-color: var(--color-surface);
  border: none;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow);
}

dialog > header {
  display: flex;
  gap: var(--gap-lg);
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 1em;
  border-bottom: 1px solid var(--color-border);
}

dialog > header > p {
  margin: 0;
  font-size: 1em;
  text-transform: uppercase;
}

.close-button {
  position: relative;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 5px;
  line-height: 0;
  color: var(--color-element);
  border-radius: 50%;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: var(--color-border);
}

.close-button > svg {
  width: 100%;
  height: 100%;
  fill: currentcolor;
}

.dialog-body {
  display: grid;
  grid-template-columns: auto 1fr;
}

dialog img {
  max-width: 100%;
  height: auto;
}

::backdrop {
  background-color: var(--color-backdrop);
  backdrop-filter: blur(12px);
}

.share-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  border-right: 1px solid var(--color-border);
}

.social-media {
  display: flex;
  flex: 1;
  gap: var(--gap-md);
  align-items: center;
  justify-content: flex-start;
  min-width: 9em;
  padding: 1em;
  font-size: var(--font-sm);
  font-weight: 600;
  line-height: calc(1.2 * var(--font-sm));
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.social-media:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

.social-media svg {
  width: 1.15em;
  height: 1.15em;
  fill: currentcolor;
}

.social-media:hover {
  color: #fff;
}

.twitter:hover {
  background-color: #1da1f2;
}

.facebook:hover {
  background-color: #1877f2;
}

.linkedin:hover {
  background-color: #0a66c2;
}

.copy-button:hover {
  color: var(--color-element);
  background-color: var(--color-border);
}

.copy-button > svg:last-of-type {
  display: none;
}

.copy-button.copied > svg:last-of-type {
  display: block;
}

.copy-button.copied > svg:first-child {
  display: none;
}

.preview-container {
  align-self: end;
  padding: 2em 2em 0;
}

.preview {
  display: grid;
  grid-template-rows: max-content auto;
  padding: 0.75em 1em 0;
  margin-inline: auto;
  color: var(--color-element);
  background-color: var(--color-border);
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
}

.preview > p {
  margin-block: 0 1em;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  text-wrap: balance;
}

.preview img {
  display: block;
  width: 100%;
  aspect-ratio: 3 / 1;
  border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
  object-fit: cover;
}

.meta-placeholder-img {
  height: 5em;
  aspect-ratio: 3 / 1;
  background-color: var(--color-element);
  border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
  opacity: 0.15;
}

.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 1em;
}

.meta-left {
  display: flex;
  gap: var(--gap-sm);
  align-items: center;
}

.avatar {
  width: 1.35em;
  height: 1.35em;
  background-color: var(--color-element);
  border-radius: 50%;
  opacity: 0.15;
}

.author {
  width: 4em;
  height: 0.5em;
  background-color: var(--color-element);
  border-radius: 9999px;
  opacity: 0.15;
}

.data {
  width: 3em;
  height: 0.5em;
  background-color: var(--color-element);
  border-radius: 9999px;
  opacity: 0.15;
}
