:host {
  font-size: 16px;
}

.wrapper {
  --aspect-ratio: 1.65 / 1;
  --border-radius-lg: 8px;
  --border-radius-md: 5px;
  --border-radius-pill: 9999px;
  --border-radius-sm: 2.5px;
  --color-button-bg: hsl(242deg 55.5% 2.74%);
  --color-button-text: hsl(242deg 9.58% 98%);
  --color-copy-success: green;
  --color-popover-bg: hsl(242deg 9.58% 98%);
  --color-popover-border: hsl(0deg 0 100% / 7.5%);
  --color-popover-text: hsl(242deg 55.5% 2.74%);
  --font-lg: max(18px, 1.05em);
  --font-sm: max(15px, 0.875em);
  --gap-icon: 0.5rem;
  --gap-lg: 2em;
  --gap-md: 0.75em;
  --gap-sm: 0.5em;
  --padding-box: 1em;
  --padding-button: 0.375em 1em;
  --triangle: 20px;
  --box-shadow: inset 0 0 0.5px 1px hsl(0deg 0% 100% / 7.5%),
    0 0 0 1px hsl(0deg 0% 0% / 5%), 0 0.3px 0.4px hsl(0deg 0% 0% / 2%),
    0 0.9px 1.5px hsl(0deg 0% 0% / 4.5%), 0 3.5px 6px hsl(0deg 0% 0% / 9%);
  --filter: drop-shadow(0 0 0.5px hsl(0deg 0 100% / 7.5%))
    drop-shadow(0 0 1px rgb(0 0 0 / 5%))
    drop-shadow(0 0.3px 0.4px rgb(0 0 0 / 2%))
    drop-shadow(0 0.9px 1.5px rgb(0 0 0 / 4.5%))
    drop-shadow(0 3.5px 6px rgb(0 0 0 / 9%));
  --x: #1da1f2;
  --fb: #1877f2;
  --li: #0a66c2;
  --tg: #229ed9;
  --wa: #25d366;
}

button {
  display: inline-flex;
  gap: var(--gap-icon);
  align-items: center;
  justify-content: center;
  padding: var(--padding-button);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.5;
  color: var(--color-button-text);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: var(--color-button-bg);
  border: none;
  border-radius: var(--border-radius-pill);
  transition: filter 200ms ease-out;

  &:hover:not(.copy-button) {
    filter: brightness(1.2);
  }

  svg {
    display: inline-block;
    width: 1.15em;
    height: 1.15em;
    fill: currentcolor;
  }
}

[aria-label="Share"] svg {
  margin-inline-end: 0;
  line-height: 1;
}

/* Modal */
[popover] {
  opacity: 0;
  transition: opacity 100ms ease-in, scale 100ms ease-in;
}

:popover-open,
.popover-clone {
  position: absolute;
  max-width: min(100% - 16px, 31.25em);
  height: fit-content;
  padding: 0;
  padding-block: var(--triangle);
  margin: 0;
  font-family: inherit;
  color: var(--color-popover-text);
  background-color: transparent;
  filter: var(--filter);
  border: none;
  opacity: 1;
  transition: opacity 100ms ease-out, scale 100ms ease-out;
}

.popover-clone {
  position: fixed;
  width: fit-content;
  height: fit-content;
}

.popover-inner {
  position: relative;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  font-size: 14px;
  background-color: var(--color-popover-bg);
  border: 1px solid var(--color-popover-border);
  border-radius: var(--border-radius-lg);
}

:where(.triangle-up, .triangle-down) {
  position: absolute;
  left: 50%;
  display: none;
  height: 20px;
  aspect-ratio: var(--aspect-ratio);
  clip-path: polygon(50% 0%, 0 100%, 100% 100%);
  background-color: var(--color-popover-border);
  translate: -50% -1.5px;
}

.triangle-down {
  clip-path: polygon(100% 0%, 0% 0, 50% 100%);

  &::after {
    position: absolute;
    inset: 0;
    z-index: 2;
    height: var(--triangle);
    aspect-ratio: var(--aspect-ratio);
    clip-path: polygon(100% 0%, 0% 0, 50% 100%);
    content: "";
    background-color: var(--color-popover-bg);
    translate: 0 -1px;
  }
}

.triangle-up {
  translate: -50% calc(-100% + 1.5px);

  &::after {
    position: absolute;
    inset: 0;
    z-index: 2;
    height: var(--triangle);
    aspect-ratio: var(--aspect-ratio);
    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
    content: "";
    background-color: var(--color-popover-bg);
    translate: 0 1px;
  }
}

.down .triangle-down,
.up .triangle-up {
  display: block;
}

.left-adjust :where(.triangle-down, .triangle-up) {
  left: 25%;
}

.right-adjust :where(.triangle-down, .triangle-up) {
  left: 75%;
}

.social-media {
  display: flex;
  flex: 1;
  gap: var(--gap-md);
  align-items: center;
  justify-content: flex-start;
  min-width: 7em;
  padding: 0.5em;
  font-weight: 400;
  line-height: 1.25em;
  color: inherit;
  text-decoration: none;
  background: none;
  border-radius: var(--border-radius-lg);
}

.social-media:last-child {
  border-bottom-right-radius: var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
}

.social-media svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 1.25em;
  fill: currentcolor;
  transition: color 300ms ease-out;
}

.x:hover svg {
  color: var(--x);
}

.facebook:hover svg {
  color: var(--fb);
}

.linkedin:hover svg {
  color: var(--li);
}

.telegram:hover svg {
  color: var(--tg);
}

.whatsapp:hover svg {
  color: var(--wa);
}

:is(.email, .copy-button):hover svg {
  opacity: 0.8;
}

.copy-button {
  background: none;

  &:hover {
    outline: none;
  }

  &[disabled] {
    font-weight: bold;
    color: var(--color-copy-success);
  }
}

@media (width >=48rem) {
  .social-media {
    min-width: 9em;
  }
}

/* Atomic styles */
.atomic {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap-sm);
  justify-content: space-between;
  background-color: transparent;

  .social-media {
    flex: 0;
    width: min-content;
    min-width: min-content;

    svg {
      width: 2em;
      height: 2em;
    }
  }
}

.circle {
  padding: 0.75rem;
  line-height: 1;
  border-radius: 50%;
}
